.carousel-item{
    height: 500px;
    width: 100%;
}
.Line{
    background-color: black;
    color: white;
    margin: 10px;
    height: 60px;
}
.home2{
    display: flex;
    flex-direction: row;
    margin-left: -5px;
    margin-top: 20px;
}
.card1{
    width: 220px;
    margin: 18px;
    height: 280px;
   
    background-color: rgb(222, 226, 226);
}
.card2 img{

    width: 220px;
    height: 220px;
    padding: 10px;
}

.text3{
    font-size: 40px;
    font-weight: bold;
    color: rgb(25, 24, 25);
    text-align: center;
    position: relative;
    ;
    bottom: 900px;
    right: 350px;
}
.text1{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    position: relative;
    bottom: 600px;
}
.text2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(232, 227, 227);
    text-align: center;
    position: relative;
    bottom: 900px;
}
.card3 {
    height: 100px;
    width: 220px;


}
.card3 p{
    margin: -5px;
    margin-left: 10px;
}
.home3{
    height: 900px;
    background-color: rgb(232, 227, 227);
}
.footer{
    height: 400px;
    background-color: rgb(25, 24, 25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.text4{
    font-size: 20px;
    
    color: white;
   
    position: relative;
    bottom: 200px;
   
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
