
nav{
    margin: 10px;
    height: 70px;
    margin-bottom: 10px;
    background-color: #0d0717f8;
    color: white;
}
nav ul{
    height: 100%;
    width: 50%;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    font-size: 24px;
    gap: 15%;
}
.link{
    color: white;
    text-decoration: none;
}
#logo{
     width: 10%;
     height: 80%;
     text-align: center;
}
#logo div:nth-child(1){
    font-family: 'Irish Grover', cursive;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    height: 55%;
    margin: 0%;
    padding: 0cap;
}
#logo div:nth-child(2){
    height: 45%;
    margin: 0%;
    padding: 0cap;
    font-family: 'Aladin', cursive;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
#search{
    height: 100%;
    width: 40%;
}
#search input {
    width: 80%;
    height: 40%;
    border-radius: 7px;
    background-image: url('../assets/icons8-search-100.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 3px;
}
#search input::placeholder{
    font-weight: bold;
    color: black;
    padding-left: 8%;
    font-size: 15px;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
