
.Line div{
    gap: 6px;
    width: 50%;
}
.home1{
    margin: 10px;
}
.carousel-caption{
    margin-right: 60px;
}
.carousel-caption p{
    font-family: roboto;
    color: black;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: left;
    margin-bottom: 200px;
}
.dropdown{
     height: 33px;
     width: 33px;
    border: none;
    background-image: url("../assets/icons8-drop-down-100.png");
    background-repeat: no-repeat;
    background-size:40px 40px;
    background-position: center;
    border-radius: 6px;
    background-color: white;
}
.no-caret::after {
    display: none !important;
  }
  
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox1{
    display: flex;
}
#MensFashion{
    width: 50%;
    margin: 10px;
}
#womensFashion{
    width: 50%;
    margin: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.gridd{
    display: grid;
    grid-template-columns:3fr 5fr 2fr;
}
.gridd :nth-child(1)
{
    transform: translate(3px);
}
.gridd :nth-child(3)
{
    text-align: end;
    transform: translate(-5px);
}
.gridd :nth-child(2)
{
    text-align: center;
    transform: translate(3px);
}
.gridd img{
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    position: relative;
    bottom: 3px;
}
.card{
    height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.card img{
    height: 300px;
    width: 255px;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}
.details{
    background-color: rgb(1, 7, 87);
   color: rgb(255, 254, 254);
    height: 60px;
    font-family: sans-serif;
    font-size: 18px;
   
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
 
    border-style: solid ;
    border-width: 2px;


}
.details:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.details :nth-child(1)
{
    transform: translate(3px);
}
.cartbtn{
  
   border-style:none;
    background-color: rgb(243, 244, 247);
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;

      
   
    width: 120px;
   
    color: rgb(15, 15, 15);
    transition :transform 0.3s ease;
}
.cardbtn:hover{
    transform: scale(1.03);
}